/*.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px white;
    margin-top: 20px;
}*/

#buttonid{
    margin-top: 20px;
}

#btn2{
    margin-left:700px;
    height:20px;
    width:20px;
}

#btn1{
    margin-left:1000px;
    height:20px;
    width:20px;
}

#btn{
    margin-left:1300px;
    height:20px;
    width:20px;
}

li{
    margin-top:20px;
}